@use "reset.scss" as *

body
  --base-font-size: 16px

body,
body[data-theme="dark"]
  --color-text: #EBEFF0 /* White Smoke */
  --color-background: #061014
  

body[data-theme="light"]
  --color-text: #202020 /* Night Grey */
  --color-background: #CACED1
 


html, body
  background-color: var(--color-background)
  color: var(--color-text)
  font-size: var(--base-font-size)
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
  scroll-behavior: smooth




