.Container
  height: 100dvh
  .Loading,.Error,.Updating
    font-size: 1.5rem
    font-weight: bold
    color: var(--color-text)
    margin-top: 1rem
    text-align: center
  .DrugFormulary
    
    table
      width: 100%
      border-collapse: collapse

      th, td
        padding: 8px
        text-align: left
        border-bottom: 1px solid #ddd
